{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Disciplinas</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/revisarInsc.css' %}">
    <link rel="stylesheet" href="{% static '/css/inscricaoturmas.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    {% include 'partials/_alertas.html' %}
</body>
</html>