{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Disciplinas</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <header class="conteudo">
        <section class="banner">
            <img class="banner__imagem" src="{% static 'assets/banner.png' %}" alt="Banner">
        </section>
    </header>

    <main>
        <h1>Selecione as disciplinas</h1>

        <div class="card">
            <form id="form-disciplinas" action={% url 'disciplinas' %} method="POST">
                {% csrf_token %}
                <ul class="disciplinas-list">
                    {% for field in form.visible_fields %}
                        <li>
                            {{ field }}
                        </li>
                    {% endfor %}
                </ul>
        
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
    {% include 'partials/_alertas.html' %}
</body>
</html>
