<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Fazer sua inscrição</a></li>
            <li><a href="#">Inscrições realizadas</a></li>
            <li class="logout"><a href="#">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <a href="disc-completas.html" class="card">
            <h2>Realizar Inscrição</h2>
            <p>Clique aqui para iniciar o processo de inscrição. Você poderá preencher um formulário detalhado para participar do evento de seu interesse.</p>
        </a>
        <div class="card">
            <a href="crud.html">
            <h2>Editar Inscrição</h2>
            <p>Aqui você pode visualizar e fazer alterações nas suas inscrições já realizadas. É possível editar informações como nome, email e categoria de inscrição.</p>
        </a>
    </div>
    </div>
</body>
</html>
