{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionando para Pagamento</title>
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="spinner-container">
        <div class="spinner"></div>
        <div class="message">Redirecionando para a página de pagamento...</div>
    </div>
</body>
</html>
